<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <mappers>
 <mapper resource="data/managerMapper.xml"/>
 <mapper resource="data/memberMapper.xml"/>
 <mapper resource="data/inquiryMapper.xml"/>
 <mapper resource="data/productMapper.xml"/>
 <mapper resource="data/rentalMapper.xml"/>
 <mapper resource="data/ticketMapper.xml"/>
 <mapper resource="data/adminMapper.xml"/>
 <mapper resource="data/noticeMapper.xml"/>
 
 </mappers>
</configuration>
